<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary"> {{ratings}}</button>
        </div>
        <div class="card-body">
            <div class- row>
                <div class='col-md-8'>
                    <div class='row '>
                        <div class='col-md-8'>{{product . title | truncateText: 20}}</div>
                    </div>
                    <div class=' row'>
                        <div class='col-md-8'><strong>{{product.category | uppercase }}</strong></div>
                    </div>
                    <div class='row'>
                        <div class='col-md-8 description'>{{product. description | truncateText: 160 :true}} </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-8 '><app-star-comp [rating]="product.rating.rate"
                                (ratingClicked)="onRatingClicked($event)"></app-star-comp></div>
                    </div>
                    <div class='row'>
                        <div class='col-md-8'>Price : <strong> {{product.price | currency :'USD' : 'symbol'
                                :'1.2-2'}}</strong> </div>
                    </div>
                </div>
                <div>
                    <div class="image">
                        <img [src]="product.image" [style.width.px]="imageWidth" [style.margin-left]="marginLeftValue"
                            [style.margin-top]="marginTopValue">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="display: flex;justify-content: space-between;">
                <div><button class="btn btn-danger" (click)="onBack()"><strong><i class="fa-solid fa-circle-left"></i>
                            Go
                            Back</strong></button></div>
                <div><button class="btn btn-success" [routerLink]="['/payment',product.id]"><strong><i class="fa-solid fa-credit-card"></i>

                            Checkout</strong></button></div>

            </div>
        </div>
    </div>

</div>