<div class="container">
    <div style="height: 100%;width: 100%;" class="card my-5">
        <div class="card-header">
            {{Title}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">Filter:</div>
                <div class="col-md-2">
                    <input type="text" [(ngModel)]="filterlist">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">
                    Filtered by : <strong>{{filterlist}}</strong> </div>
            </div> -->
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th><button class="btn  btn-primary "
                                (click)="toggleImages()">{{showImages?'Hide':'Show'}}
                                </button></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let product of filteredProducts">
                    <tr>

                        <td>{{product.title | truncateText: 10}}</td>

                        <td>{{product.price | currency:'USD': 'symbol':'1.2-2'}} </td>

                        <td><img [src]="product.image" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"
                                *ngIf="showImages">
                        </td>
                        <td>
                            <div style="display: flex;justify-content: space-between;">
                                <div>
                                    <button [routerLink]="['/products',product.id]" class="btn  btn-success"> <strong><i
                                                class="fa-solid fa-cart-plus"></i> Add to Cart</strong></button>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <ng-template #elseBlock>
            <h4>No products to Show</h4>
        </ng-template>
    </div>
</div>
<router-outlet></router-outlet>